{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-title">
                               
            </div>
            <div class="card-body">
                <h4>Register for a free account.</h4>

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group mt-4">
                        <input type="text" placeholder="Username" name="username" class="form-control form-control-sm" id="usernameField" value="{{ fieldValues.username }}" />
                    </div>
                    <div class="invalid-feedback invalid_feedback__username_class" style="display:none">
                        <p></p>
                    </div>
                    <p class="text-sm text-success username_success_output"></p>
                    <div class="form-group mt-4">
                        <input type="email" placeholder="Email" name="email" class="form-control form-control-sm" id="emailField" value="{{ fieldValues.email }}" />
                    </div>
                    <div class="invalid-feedback invalid_email_feedback_class" style="display:none">
                        <p></p>
                    </div>
                    <p class="text-sm text-success email_success_output"></p>
                    <div class="form-group mt-4">
                        <input type="password" placeholder="Password" name="password" class="form-control form-control-sm" id="passwordField" />
                        <small class="float-right py-3 show_password_toggle">Show Password</small>
                    </div>
    
                    <input type="submit" value="Register" class="btn btn-block btn-info submit_btn" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}