{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-title">
                               
            </div>
            <div class="card-body">
                <h4>Request Password Reset</h4>

                <form action="{% url 'requestPasswordUrl' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group mt-4">
                        <input type="email" placeholder="Email" name="email" class="form-control form-control-sm" id="emailField" value="{{ values.email }}" />
                    </div>
    
                    <input type="submit" value="Request Password Reset" class="btn btn-block btn-info submit_btn mt-3" />
                </form>
            </div>
            <span>Already have an account? <a href="{% url 'loginUrl' %}">Login here.</a></span>
            <span>Don't have an account? <a href="{% url 'registerUrl' %}">Register here.</a></span>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

{% endblock %}